<h1 style="text-align: center;">Vista de productos</h1>
<div class="jumbotron container">
    {{#if productos.length}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr class="text-info">
                <th class="font-weight-bold">Nombre</th>
                <th class="font-weight-bold">Precio</th>
                <th class="font-weight-bold">Foto</th>
            </tr>
            {{#each productos}}
            <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.thumbnail}}" alt="imagen producto" style="height: 40px;"></td>
            </tr>
            {{/each}}
        </table>
        <button class="btn btn-primary mx-auto"><a href="/" style="text-decoration:none; color: white">Volver</a></button>
    </div>
    {{else}}
        <h2>No se encontraron productos</h2>
        <button class="btn btn-primary mx-auto"><a href="/" style="text-decoration:none; color: white">Volver</a></button>
    {{/if}}
</div>
