
    {{#if productos.length}}
    <h1 style="text-align: center;">Vista de productos</h1>
    <div class="jumbotron container">
    <div class="table-responsive">
        <table class="table table-light">
            <tr class="text-info">
                <th class="font-weight-bold">Nombre</th>
                <th class="font-weight-bold">Precio</th>
                <th class="font-weight-bold">Foto</th>
            </tr>
            {{#each productos}}
            <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.thumbnail}}" alt="imagen producto" style="height: 40px;"></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>    
{{/if}}